* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    background-color: rgb(246, 248, 249);
}
/*INIZIO STILE HEADER*/
header {
    background-color: white;
}
#container-logo {
    padding: 1.5vw 2.5vw;
}
#logo {
    display: inline-block;
    vertical-align: middle;
    width: 4.8vw;
    margin-top: -1.1vw;
}
h1 {
    display: inline;
    font-size: 3vw;
}
/*FINE STILE HEADER*/
#container {
    background-color: white;
    width: 70vw;
    margin: 3.5vw auto;
    padding: 1.2vw 5vw;

}
/*INIZIO STILE NAV*/
button {
    padding: 0.5vw 0.7vw;
    border-radius: 0.5vw;
}
.task {
    color: white;
    border: 0.15vw solid rgb(61, 168, 240);
    background-color: rgb(71, 173, 241);

}
.section {
    color: rgb(200, 206, 211);
    border: 0.15vw solid rgb(200, 206, 211);
    background-color: white;
}
/*FINE STILE NAV*/
/*INIZIO STILE MAIN*/
.ul-genitore {
    margin-top: 2.5vw;
    list-style: none;
    font-weight: bold;
    font-size: 1.5vw;
}
.ul-figlio {
    list-style: none;
    font-weight: normal;
    font-size: 1.3vw;
    margin-top: 0.8vw;
}
.icona-figlio {
    border-style: solid;
    border-width: 0.15vw;
    color: rgb(107, 196, 174);
    border-radius: 50%;
    margin-right: 0.8vw;
    margin-left: 0.4vw;
    padding: 0.1vw 0.3vw;
}
/*FINE STILE MAIN*/